.cartItem {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  height: 200px;
  width: 98%;
}

.cartItem__image {
  width: 150px;
  height: 180px;
  object-fit: contain;
  margin-top: 10px;
}

.cartItem__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-left: 30px;
}

.cartItem__info {
  height: 65%;
}

.cartItem__title {
  margin-top: 5px;
  font-weight: 700;
}

.cartItem__price {
  margin: 5px 0;
}

.cartItem__rating {
  margin: 5px 0;
}

.cartItem__button {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 150px;
  justify-content: flex-end;
}

.cartItem__button > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-radius: 2px;
  border-color: #a88734 #9c7e31 #846a29;
  margin-top: 10px;
  color: #111;
  padding: 5px;
  outline: none;
}

.cartItem__button > button:active {
  transform: scale(1.02);
  outline: none;
}
.cartItem__button > button:hover {
  cursor: pointer;
}
button:disabled {
  background-color: #f1c961 !important;
  color: #333 !important;
  cursor: default !important;
}
